:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.analyzer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  width: 50vw;
  padding: 20px;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  width: 100%;

  div {
    align-content: center;
  }
}
