<mat-card class="general-card">
  <h2>Text Analyzer</h2>
  <div class="grid-container">
    <div>
      <mat-form-field>
        <mat-label>Type of analysis:</mat-label>
        <mat-select [(value)]="typeOfAnalysis">
          @for (type of TextAnalyzerTypeEnum | keyvalue; track type.key) {
            <mat-option [value]="type.value">{{ type.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width:100%;">
        <textarea
          matInput
          [formControl]="inputControl"
          placeholder="Enter text here..."
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="10"
        ></textarea>
        <mat-hint>Enter the text and then click "Analyze"</mat-hint>
      </mat-form-field>
    </div>
    <div style="justify-self: center;">
      <button
        mat-raised-button
        color="primary"
        (click)="analyze()"
        [disabled]="!inputControl.value?.length"
      >
        Analyze
      </button>
    </div>
  </div>
  <div style="margin-top: 2em">
    <mat-slide-toggle [formControl]="textAnalyzerModeControl">Online Mode</mat-slide-toggle>
  </div>
  @if (!!textAnalyzerService.lastResult) {
    <mat-divider></mat-divider>
    <h3 style="margin-top: 0">Last Result: </h3>
    <div class="result-info">
      <span id="sentence-span"><span>Sentence:</span> {{ textAnalyzerService.lastResult.fullText }}</span>
      <span id="type-analysis-span"><span>Type of analysis:</span> {{ textAnalyzerService.lastResult.type }}</span>
    </div>
    @for (analysisEntry of textAnalyzerService.lastResult.counts | transformTextAnalysisCount; track analysisEntry) {
      <p>{{ analysisEntry }}</p>
    }
  }
</mat-card>
