.expansion-panel {
  width: 100%;
  margin: 8px 0;

  mat-expansion-panel-header {
    height: 100%;
    padding: 8px 24px;

    mat-panel-title {
      flex-grow: 2;
      overflow-wrap: anywhere;
    }

    mat-panel-description {
      flex-grow: 3;
    }

    mat-panel-title, mat-panel-description {
      span {
        margin-left: 5px;
        font-weight: lighter;
      }
    }

    .ellipsis {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
