.expansion-panel {
  width: 100%;
  margin: 8px 0;

  mat-expansion-panel-header {
    height: 100%;
    padding: 8px 24px;

    mat-panel-title {
      flex-grow: 2;
    }

    mat-panel-description {
      flex-grow: 3;
    }

    .ellipsis {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
